@{
    ViewData["Title"] = "Home Page";
}




@{
   
}

<div class="text-center">

    <FONT COLOR="white ">
        <h1> Welcome to the HealthAdviceGroup website! From here you will be able to access our services.</h1>
        <p>Please use the navigation bar above to access the services we provide.</p>

</div>
